
<nav aria-label="Pagination">
    <ul class="pagination">
        <li class="page-item @(currentPage == 1 ? "disabled" : "")">
            <a class="page-link" @onclick="() => OnPageChanged.InvokeAsync(currentPage - 1)"
               disabled="@(currentPage <= 1)">
                Previous
            </a>
        </li>

@for (int i = 1; i <= totalPages; i++)
{
    var p = i;
         <li class="page-item @(currentPage == p ? "active" : "")">
                <a class="page-link" @onclick="() => OnPageChanged.InvokeAsync(p)">@p</a>
            </li>
}
        <li class="page-item @(currentPage == totalPages ? "disabled" : "")" @onclick="() => OnPageChanged.InvokeAsync(currentPage + 1)"
            disabled="@(currentPage >= totalPages)">
            <a class="page-link">
    Next
</a>
</li>
    </ul>
</nav>
@code {
    [Parameter] public int currentPage { get; set; }
    [Parameter] public int pageSize { get; set; }
    [Parameter] public int totalItems { get; set; }
    [Parameter] public EventCallback<int> OnPageChanged { get; set; }

    private int totalPages => (int)Math.Ceiling((double)totalItems / pageSize);
}