@using FrontEnd.Client.DTOs

@if (User != null)
{
    <div class="container">
        
        <div class="mb-2 rounded">
            <div class="card text-center bg-body-tertiary">
                <div class="card-body">
                    <h5 class="card-title">@User.FirstName @User.Surname</h5>
                    <p class="card-text">Created @User.createdOn.ToString("MMMM yyyy")</p>
                    <button @onclick="() => {disabled = false;}" class="btn btn-primary">Edit Profile</button>
                    <button class="btn btn-secondary">Sign-Out</button>
                </div>
            </div>
        </div>
        
        <div class="mb-2 rounded">
            <div class="card bg-body-tertiary">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center gap-2">
                                <i class="bi bi-info-circle-fill"></i>
                                <h5 class="card-title mb-0">Personal Information</h5>
                            </div>
                            <button @onclick="() => disabled = !disabled" class="btn btn-sm @(disabled == false ? "btn-warning" : "btn-primary")">
                                @(disabled ? "Edit Profile" : "Cancel")
                            </button>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <EditForm OnValidSubmit="UpdateUserAsync" Model="User" FormName="updateUser">
                            <DataAnnotationsValidator/>
                            @if (!string.IsNullOrEmpty(submitMessage))
                            {
                                <div class="alert alert-danger my-2" role="alert">
                                    @submitMessage
                                </div>
                            }
                            <div class="row mb-2 g-2">
                                <div class="col-6">
                                    <label for="FirstName" class="form-label">First Name</label>
                                    <InputText @bind-value="User.FirstName" class="form-control" id="FirstName" disabled="@disabled" />
                                    <ValidationMessage For="@(() => User.FirstName)" class="text-danger" />
                                </div>
                                <div class="col-6">
                                    <label for="Surname" class="form-label">Surname</label>
                                    <InputText @bind-value="User.Surname" class="form-control" id="Surname" disabled="@disabled" />
                                    <ValidationMessage For="@(() => User.Surname)" class="text-danger" />
                                </div>
                            </div>
                            <div class="row mb-2 g-2">
                                <div class="col-6">
                                    <label for="email" class="form-label">Email Address</label>
                                    <InputText @bind-value="User.IdentityDTO.Email" type="email" id="email" class="form-control" disabled="@disabled" />
                                    <ValidationMessage For="@(() => User.IdentityDTO.Email)" class="text-danger" />
                                </div>
                                <div class="col-6">
                                    <label for="phone" class="form-label">Phone Number</label>
                                    <InputText @bind-value="User.IdentityDTO.Phone" id="phone" type="number" class="form-control" disabled="@disabled"  />
                                    <ValidationMessage For="@(() => User.IdentityDTO.Phone)" class="text-danger" />
                                </div>
                            </div>
                            <div class="row mb-2 g-2">
                                <div class="col-6">
                                    <label for="username" class="form-label">Username</label>
                                    <InputText @bind-value="User.IdentityDTO.Username" class="form-control" id="username" disabled="@disabled" />
                                    <ValidationMessage For="@(() => User.IdentityDTO.Username)" class="text-danger" />
                                </div>
                                <div class="col-6">
                                    <label for="exampleInputEmail1" class="form-label">Title</label>
                                    <InputSelect @bind-Value="User.Title" class=" form-select" id="title" disabled="@disabled">
                                        <option>Select title.</option>
                                        @foreach (var item in Enum.GetValues<FrontEnd.Client.DTOs.Title>())
                                        {
                                            <option value="@item">@EnumHelper.GetDisplayName(item)</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => User.Surname)" class="text-danger" />
                                    
                                </div>
                            </div>
                            <div class="row mb-2 g-2">
                                <div class="col-md-6 col-sm-6">
                                    <label for="DOB" class="form-label">Date of Birth</label>
                                    <InputDate id="DOB" @bind-value="User.DOB" class="form-control" disabled="@disabled" />
                                    <ValidationMessage For="@(() => User.DOB)" class="text-danger" />
                                </div>
                                <div class="col-md-6 col-sm-6">
    <label class="form-label">Gender</label>
    <div>
        <InputRadioGroup @bind-Value="User.Gender" Name="gender">
            <div class="btn-group d-flex" role="group">
                @foreach (var gender in Enum.GetValues<Gender>())
                {
                    <InputRadio class="btn-check"
                                Name="gender"
                                id="@gender"
                                Value="@gender"
                                disabled="@disabled" />
                    <label class="btn btn-outline-secondary" for="@gender">
                        @gender.ToString()
                    </label>
                }
            </div>
        </InputRadioGroup>
        <ValidationMessage For="@(() => User.Gender)" class="text-danger" />
    </div>
</div>
                            </div>
                            <button type="submit" class="btn btn-primary w-100" disabled="@isLoading">
                            @if (isLoading)
                            {
                                <span>Submitting</span>
                                <span class="submitting-dots">
                                    <span>.</span>
                                    <span>.</span>
                                    <span>.</span>
                                </span>
                            }
                            else
                            {
                                <span>Submit</span>
                            }
                        </button>
                        </EditForm>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="mb-2 rounded">
            <div class="card bg-body-tertiary">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex flex-row">
                            <div class="p-1">
                                <i class="bi bi-shield-lock-fill"></i>
                            </div>
                            <div class="p-1">
                                <h5 class="card-title">Change Password</h5>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Current Password</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                   disabled />
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                   disabled />
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                   disabled />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="mb-2 rounded">
            <div class="card bg-body-tertiary">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex flex-row">
                            <div class="p-1">
                                <i class="bi bi-shield-fill-x"></i>
                            </div>
                            <div class="p-1">
                                <h5 class="card-title">Danger Zone</h5>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row mb-2 g-2">
                            <div class="col-10">
                                <label for="exampleInputEmail1" class="form-label">
                                    Deactivate Account
                                </label>
                                <p class="text-danger">
                                    Deactivating your account will disable your access but keep your data
                                    intact.
                                    You can reactivate it later.
                                </p>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-warning">Deactivate Account</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row mb-2 g-2">
                            <div class="col-10 col-sm-6">
                                <label for="exampleInputEmail1" class="form-label">Delete Account</label>
                                <p class="text-danger">
                                    Deleting your account is irreversible. All your data will be
                                    permanently
                                    removed.
                                </p>
                            </div>
                            <div class="col-2 text-end col-sm-6">
                                <button class="btn btn-danger">Delete Account</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string UserId { get; set; }

    // [SupplyParameterFromForm]
    public UpdateUserProfileDTO? User { get; set; }

    // public UserProfileDTO? ProfileDTO { get; set; }

    private string submitMessage;

    private bool disabled = true;

    private bool isLoading = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadProfile();
            StateHasChanged();
        }
    }

    private async Task LoadProfile()
    {
        await JSRuntime.InvokeVoidAsync("Spinner.show");
        try
        {
            if (string.IsNullOrEmpty(UserId))
            {
                UserId = await JSRuntime.InvokeAsync<string?>("localStorage.getItem", "UserId");
            }
            User = await UserProfileService.GetUserProfileAsync(Guid.Parse(UserId));

            if (User is null) return;

            // User = new UpdateUserProfileDTO
            // {
            //     ID = ProfileDTO.ID,
            //     UserID = ProfileDTO.UserID,
            //     FirstName = ProfileDTO.FirstName,
            //     Surname = ProfileDTO.Surname,
            //     DOB = ProfileDTO.DOB,
            //     Gender = ProfileDTO.Gender,
            //     Title = ProfileDTO.Title,
            //     UpdateOn = DateTime.Now,
            //     createdOn = ProfileDTO.createdOn
            // };

            // User.IdentityDTO.Email = ProfileDTO.IdentityDTO.Email;
            // User.IdentityDTO.Phone = ProfileDTO.IdentityDTO.Phone;
            // User.IdentityDTO.Username = ProfileDTO.IdentityDTO.Username;
        }
        catch (Exception ex)
        {
            submitMessage = $"Failed to load profile. {ex.Message}";
        }
        finally
        {
            await JSRuntime.InvokeVoidAsync("Spinner.hide");
        }
    }

    async Task UpdateUserAsync()
    {
        isLoading = true;
        try
        {
            User.UserID = Guid.Parse(UserId);
            var responce = await UserProfileService.UpdateProfileAsync(User.ID, User);
            if (responce.IsSuccessStatusCode)
            {
                // submitMessage = "User Profile Updated.";
                await JSRuntime.InvokeVoidAsync("SwalService.success", "User Profile Updated!");
            }
            else
            {
                var error = await responce.Content.ReadAsStringAsync();
                submitMessage = $"Failed to Update User Profile. {error}";
                return;
            }
        }
        catch
        {

        }
        finally
        {
            isLoading = false;
            disabled = true;
        }
    }
}
