
@inject StatusService StatusService


<div class="px-2 py-2 mb-2 row">
    <div class="col-md-6">
        <h5>Status Projects</h5>
    </div>
    <div class="col-md-6 text-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="bi bi-plus-square me-2"></i>Add
        </button>
    </div>
</div>

@if (allStatuses?.Count > 0)
{

    <div class="border rounded bg-body-tertiary">
        <div class="p-2 mt-2">

            <TableTemplate Items="allStatuses" Context="status">

                <TableHeader>
                    <th>#</th>
                    <th>Status</th>
                    <th>Color</th>
                    <th>Sort Order</th>
                    <th>Type</th>
                    <th>Updated On</th>
                    <th></th>
                </TableHeader>
                <RowTemplate Context="status">
                    @{
                        int index = allStatuses.IndexOf(status) + 1;
                    }
                    <td>@index</td>
                    <td>@status.Name</td>
                    <td>
                        <span class="d-flex align-items-center">
                            <span class="rounded border" style="width:20px;height:20px;display:inline-block; background-color: @status.Color;"></span>
                        </span>
                    </td>
                    <td>@status.SortOrder</td>
                    <td>@status.Category</td>
                    <td>@status.updatedOn</td>
                    <td>
                        <div class="d-flex gap-1 justify-content-center">
                            <button class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" @onclick="() => editStatus(status)">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </td>
                </RowTemplate>
            </TableTemplate>
        </div>
    </div>
}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <EditForm Model="@Status" OnInvalidSubmit="HandleUpdate" FormName="create">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">@(isEditMode ? "Edit Status" : "Create Status") </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <DataAnnotationsValidator />
                    <div class="mb-3">
                        <label for="Name" class="form-label">Status Name</label>
                        <InputText id="Name" @bind-Value="Status.Name" class="form-control"
                                   placeholder="Enter Status Name."></InputText>
                        <ValidationMessage For="@(() => Status.Name)" class="text-danger" />
                    </div>
                    <div class="mb-3">
                        <label for="Color" class="form-label">Color</label>
                        <div class="d-flex align-items-center gap-2">
                            <input type="color" id="Color" value="@Status.Color"
                                   @oninput="e => Status.Color = e.Value?.ToString() ?? Status.Color"
                                   class="form-control form-control-color" title="Choose your color" />
                            <InputText @bind-Value="Status.Color" class="form-control"
                                       placeholder="#rrggbb" disabled />
                        </div>
                        <ValidationMessage For="@(() => Status.Color)" class="text-danger" />
                    </div>
                    <div class="mb-3">
                        <label for="SortOrder" class="form-label">Sort Order</label>
                        <div class="d-flex align-items-center gap-2">
                            <InputNumber id="SortOrder" @bind-Value="Status.SortOrder" class="form-control"
                                         placeholder="Enter Status Sort Order."></InputNumber>
                        </div>
                        <ValidationMessage For="@(() => Status.SortOrder)" class="text-danger" />
                    </div>
                    <div class="mb-3">
                        <label for="Category" class="form-label">Type</label>
                        <div class="d-flex align-items-center gap-2">
                            @* <InputNumber id="Category" @bind-Value="Status.Category" class="form-control"
                                         placeholder="Enter Status Type."></InputNumber> *@
                            <InputSelect id="Category" @bind-Value="Status.Category" class="form-select">
                                <option value="">Select Type</option>
                                @foreach (var cat in Enum.GetValues<Category>())
                                {
                                    <option value="@cat">@EnumHelper.GetDisplayName(cat)</option>
                                }
                            </InputSelect>
                        </div>
                        <ValidationMessage For="@(() => Status.Category)" class="text-danger" />
                    </div>

                    @if (!string.IsNullOrEmpty(submitMessage))
                    {
                        <div class="alert @(submitMessage?.Contains("Error") == true ? "alert-danger" : "alert-success") alert-dismissible fade show"
                             role="alert">
                            @submitMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" disabled="@isSaving" @onclick="isEditMode ? HandleUpdate : HandleSubmission">
                        @if (isSaving)
                        {
                            control = isEditMode ? "Updating" : "Creating";
                            <span>@control</span>
                            <span class="submitting-dots">
                                <span>.</span>
                                <span>.</span>
                                <span>.</span>
                            </span>
                        }
                        else
                        {
                            control = isEditMode ? "Update" : "Create";
                            <span>@control</span>
                        }
                        @* @control *@
                    </button>

                </div>
            </EditForm>

        </div>
    </div>
</div>

@code {
    private string control = string.Empty;
    private List<StatusDTO> allStatuses;

    private bool isSaving = false;
    bool isEditMode = false;

    // [SupplyParameterFromForm]
    public StatusDTO? Status { get; set; } = new();

    string submitMessage = string.Empty;

    private void OnColorSelected(string color)
    {
        // Status.Color = color;
    }

    protected override async Task OnInitializedAsync()
    {
        allStatuses = await StatusService.GetStatusAsync();

        //     SignalR setup
        //     connection = new HubConnectionBuilder()
        //         .WithUrl(Navigation.ToAbsoluteUri("/statushub"))
        //         .WithAutomaticReconnect()
        //         .Build();

        //     connection.On("StatusUpdated", async () =>
        //     {
        //         allStatuses = await _context.Statuses.ToListAsync();
        //         StateHasChanged();
        //     });

        //     await connection.StartAsync();
    }

    private async Task HandleSubmission()
    {
        isSaving = true;
        submitMessage = null;
        try
        {

        }
        catch (Exception ex)
        {

            throw;
        }
        finally
        {
            isEditMode = false;
            isSaving = false;
            submitMessage = string.Empty;
        }
    }

    async Task HandleUpdate()
    {

        isSaving = true;
        submitMessage = null;
        try
        {
            var response = await StatusService.UpdateStatusAsync(Status.ID, Status);
            if (response.IsSuccessStatusCode)
            {
                allStatuses = await StatusService.GetStatusAsync();
                isEditMode = false;
                Status = new StatusDTO();
                await JSRuntime.InvokeVoidAsync("hideModal", "staticBackdrop");
                await JSRuntime.InvokeVoidAsync("SwalService.success", "Status updated successfully!");
            }
            else
            {
                submitMessage = $"Error {response.StatusCode}: {await response.Content.ReadAsStringAsync()}";
                return;
            }

        }
        catch (Exception ex)
        {

            throw;
        }
        finally
        {
            isEditMode = false;
            isSaving = false;
            // submitMessage = string.Empty;
        }
    }

    private async Task editStatus(StatusDTO statusDTO)
    {
        Status.ID = statusDTO.ID;
        Status.Name = statusDTO.Name;
        Status.Color = statusDTO.Color;
        Status.SortOrder = statusDTO.SortOrder;
        Status.Category = statusDTO.Category;
        Status.createdOn = statusDTO.createdOn;
        Status.updatedOn = DateTime.Now;
        isEditMode = true;
    }

    // private async Task ShowModal(bool isEdit, Guid? id = null)
    // {
    //     if (isEdit && id.HasValue)
    //     {
    //         Status = await _context.Statuses.FirstOrDefaultAsync(s => s.ID == id.Value) ?? new Status();
    //     }
    //     else
    //     {
    //         Status = new Status();
    //     }
    // }

    // private async Task SaveStatusAsync()
    // {
    //     try
    //     {
    //         isSaving = true;
    //         StateHasChanged();
            
    //         Console.WriteLine($"Saving Status: Name='{Status.Name}', Color='{Status.Color}'");
            
    //         Validate required fields
    //         if (string.IsNullOrWhiteSpace(Status.Name))
    //         {
    //             Console.WriteLine("ERROR: Name is empty!");
    //             isSaving = false;
    //             StateHasChanged();
    //             return;
    //         }
            
    //         Status.ID = Guid.NewGuid();
    //         Remove manual timestamps - DbContext handles now
    //         Status.createdOn = DateTime.Now;
    //         Status.updatedOn = DateTime.Now;
            
    //         _context.Statuses.Add(Status);
    //         await _context.SaveChangesAsync();
            
    //         Console.WriteLine("SUCCESS: Status saved!");
            
    //         Refresh list
    //         allStatuses = await _context.Statuses.ToListAsync();
            
    //         Close modal + reset
    //         await JSRuntime.InvokeVoidAsync("eval", "bootstrap.Modal.getInstance(document.getElementById('statusModal')).hide()");
    //         Status = new Status();
    //         isSaving = false;
    //         StateHasChanged();

    //         SignalR broadcast
    //         if (connection != null)
    //             await connection.SendAsync("StatusUpdated");
    //     }
    //     catch (Exception ex)
    //     {
    //         Console.WriteLine($"Save error: {ex.Message}");
    //         Console.WriteLine($"Stack: {ex.StackTrace}");
    //         isSaving = false;
    //         StateHasChanged();
    //     }
    // }

    // private async Task DeleteStatusAsync(Guid id)
    // {
    //     var status = await _context.Statuses.FindAsync(id);
    //     if (status != null)
    //     {
    //         _context.Statuses.Remove(status);
    //         allStatuses.Remove(status);
    //         await _context.SaveChangesAsync();

    //         StateHasChanged();

    //         if (connection != null)
    //             await connection.SendAsync("StatusUpdated");
    //     }
    // }

    // private List<ColorOption> Colors = new()
    // {
    //     new ColorOption("Blue","bg-primary"),
    //     new ColorOption("Green","bg-success"),
    //     new ColorOption("Yellow","bg-warning"),
    //     new ColorOption("Light Blue","bg-info"),
    //     new ColorOption("Red","bg-danger"),
    //     new ColorOption("Black","bg-dark"),
    //     new ColorOption("Gray","bg-secondary")
    // };

    // public class ColorOption
    // {
    //     public string Name { get; set; }
    //     public string Class { get; set; }
    //     public ColorOption(string name, string cssClass) { Name = name; Class = cssClass; }
    // }
}