@* <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
</button>

<!-- Modal --> *@
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content ">
            
            <EditForm method="post" Model="userProfile" OnValidSubmit="HandleSubmission">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <DataAnnotationsValidator />
                    @* <ValidationSummary /> *@
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="firstName" class="form-label">First Name</label>
                            <InputText id="firstName" class="form-control" @bind-Value="userProfile.FirstName" placeholder="Enter your First Name." />
                            <ValidationMessage For="@(() => userProfile.FirstName)" class="text-danger" />
                        </div>
                        <div class="col-md-6">
                            <label for="surname" class="form-label">Surname</label>
                            <InputText id="surname" class="form-control" @bind-Value="userProfile.Surname" placeholder="Enter your Surname." />
                            <ValidationMessage For="@(() => userProfile.Surname)" class="text-danger" />
                        </div>
                        </div>
                          <div class="row md-3">
                        @* <div class="col-md-6">
                            <label for="Phone" class="form-label">Phone Number</label>
                            <InputText id="Phone" type="tel" class="form-control" @bind-Value="userProfile.Phone" placeholder="Enter your Phone Number." />
                            <ValidationMessage For="@(() => userProfile.Phone)" class="text-danger" />
                        </div> *@
                        <div class="col-md-6">
                            <label for="dateOfBirth" class="form-label">Date of Birth</label>
                            <InputDate id="dateOfBirth" class="form-control" @bind-Value="userProfile.DOB"/>
                            <ValidationMessage For="@(() => userProfile.DOB)" class="text-danger" />
                        </div>
                    </div>
                    <div class="row md-3">
                        <div class="col-md-6">
                            <label for="title" class="form-label">Title</label>
                            <InputSelect id="title" class="form-select" @bind-Value="userProfile.Title">
                                <option value="">Select Title</option>
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Ms">Ms</option>
                                <option value="Dr">Dr</option>
                            </InputSelect>
                            <ValidationMessage For="@(() => userProfile.Title)" class="text-danger" />
                        </div>
                        <div class="col-md-6">
                            <label for="gender" class="form-label w-full">Gender</label>
                            <InputRadioGroup @bind-Value="userProfile.Gender" class="">
                                <div class="form-check form-check-inline">
                                    <InputRadio class="form-check-input" Value="Gender.Female" />
                                    <label class="form-check-label">Female</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <InputRadio class="form-check-input" Value="Gender.Male" />
                                    <label class="form-check-label">Male</label>
                                </div>
                            </InputRadioGroup>

                            <ValidationMessage For="@(() => userProfile.Gender)" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private UserProfileDTO? userProfile { get; set; } = new();

    [Parameter]
    public UpdateUserProfileDTO? Profile { get; set; }

    protected override void OnParametersSet()
    {
        if (Profile != null)
        {
            userProfile = new UserProfileDTO
            {
                UserID = Profile.UserID.ToString(),
                FirstName = Profile.FirstName,
                Surname = Profile.Surname,
                DOB = DateOnly.FromDateTime(DateTime.Now),
                Title = Profile.Title,
                Gender = Profile.Gender
            };
        }
    }
    bool isSubmitting = false;
    string submitMessage = string.Empty;
    private async Task HandleSubmission()
    {
        isSubmitting = true;
        submitMessage = null;
        try
        {
            userProfile.createdOn = DateTime.Now;
            var id = await JSRuntime.InvokeAsync<string?>("localStorage.getItem", "UserId");
            var userId = Guid.Parse(id);
            userProfile.UserID = userId.ToString();
            userProfile.ID = Guid.NewGuid();
            var response = await UserProfileService.CreateProfileAsync(userProfile);
            if (response.IsSuccessStatusCode)
            {
            }
        }
        catch (Exception)
        {
            
            throw;
        }
    }
}
