@page "/"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<div class="flex-wrap pt-3 pb-2 mb-3 d-flex justify-content-between flex-md-nowrap align-items-center border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="mb-2 btn-toolbar mb-md-0">
        <div class="btn-group me-2">
            <button type="button"
                    class="btn btn-sm btn-outline-secondary">
                Share
            </button> <button type="button"
                              class="btn btn-sm btn-outline-secondary">
                Export
            </button>
        </div> <button type="button"
                       class="gap-1 btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center">
            <svg class="bi" aria-hidden="true">
                <use xlink:href="#calendar3"></use>
            </svg>
            This week
        </button>
    </div>
</div>
@* <div class="gap-2 my-2 row gap-lg-0">   
    @if (StatusSummaries.Any())
    {
        @foreach (var type in Enum.GetValues<ProjectType>())
        {
            var summary = StatusSummaries?.FirstOrDefault(s => s.Type == type);
            <div class="col-md-6 col-sm-12 col-lg-3">
                <DashCard Icon="bi bi-list fs-6" Title="@type.ToString()" Info="@summary.Total.ToString()" />
            </div>
        }
    }
</div> *@
@if (StatusSummaries is null)
{
    <p>Loading...</p>
}
else
{
    <div class="gap-2 my-2 row gap-lg-0">
        @foreach (var type in Enum.GetValues<ProjectType>())
        {
            var Summary = StatusSummaries
                .Where(s => s.Type == type.ToString()).ToList();

            var Color = Summary.Select(s => s.Color).ToList();

            var Data = Summary.Select(s => s.Total).ToList();

            var Status = Summary.Select(s => s.Name).ToList();

            var total = Summary
                .Sum(s => s.Total);

            <div class="col-md-6 col-sm-12 col-lg-3">
                <DashCard Icon="bi bi-list " Title="@type.ToString()" Info="@total.ToString()" Colors="@Color" Data="@Data" Status="@Status" />
            </div>
        }
    </div>
}

<div class="my-2 row">
    <div class="col-md-12 col-sm-12 mt-sm-2">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                <div class="card-title">Projects Submitted per Month</div>
                        @* <div class="card-title">Projects Status</div> *@
                    </div>
                    <div class="col-4 text-end">
                        <NavLink class="btn btn-sm btn-outline-primary" href="Month/Project">View</NavLink>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @* <StackedChart/> *@
            </div>
        </div>
    </div>
    
    <div class="col-md-6 col-sm-12 mt-sm-2">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <div class="card-title">Projects Status</div>
                    </div>
                    <div class="col-4 text-end">
                        <NavLink class="btn btn-sm btn-outline-primary" href="Project/Status">View</NavLink>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @if (GroupedProjects.Any())
                {
                    <ApexChart TItem="GroupedProjectTypesDTO">

                        <ApexPointSeries TItem="GroupedProjectTypesDTO"
                                         Items="GroupedProjects"
                                         Name="Projects"
                                         SeriesType="SeriesType.Pie"
                                         XValue="e => e.Type.ToString()"
                                         YValue="e => e.Count" />
                    </ApexChart>
                }
            </div>
        </div>
    </div>
    
    <div class="col-md-6 col-sm-12 mt-sm-2">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <div class="card-title">Projects Status</div>
                    </div>
                    <div class="col-4 text-end">
                        <NavLink class="btn btn-sm btn-outline-primary" href="Project/Status">View</NavLink>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @if (ProjectStatuses.Any())
                {
                    <ApexChart TItem="ProjectStatusDTO">

                        <ApexPointSeries TItem="ProjectStatusDTO"
                                         Items="ProjectStatuses"
                                         Name="Projects"
                                         SeriesType="SeriesType.Pie"
                                         XValue="e => e.Status"
                                         YValue="e => e.Total" />
                    </ApexChart>
                }
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-12 mt-sm-2">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                <div class="card-title">Projects by Proponent</div>
                        @* <div class="card-title">Projects Status</div> *@
                    </div>
                    <div class="col-4 text-end">
                        <NavLink class="btn btn-sm btn-outline-primary" href="Proponent/Projects">View</NavLink>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <TableTemplate Items="ProjectbyProponents" Context="Project">
                    <TableHeader>
                       <th scope="col">#</th>
                       <th scope="col">Proponent</th>
                       <th scope="col">Count</th>
                    </TableHeader>
                    <RowTemplate Context="Project">
                        @{
                            int index = ProjectbyProponents.IndexOf(Project) + 1;
                        }
                        <td>@index</td>
                        <td>@Project.Proponent</td>
                        <td>@Project.Count</td>
                    </RowTemplate>
                </TableTemplate>
                
                @* <canvas id="pie" width="400" height="400"></canvas> *@
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-12 mt-sm-2">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                <div class="card-title">Recent Projects</div>
                        @* <div class="card-title">Projects Status</div> *@
                    </div>
                    <div class="col-4 text-end">
                        <NavLink class="btn btn-sm btn-outline-primary" href="/Projects">View</NavLink>
                    </div>
                </div>
            </div>
            <div class="card-body">
                
                <TableTemplate Items="RecentProjects" Context="Project">
                    <TableHeader>
                        <th scope="col">#</th>
                        <th scope="col">Project</th>
                        <th scope="col">Proponent</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date</th>
                    </TableHeader>
                    <RowTemplate Context="Project">
                        @{
                            int index = RecentProjects.IndexOf(Project) + 1;
                        }
                        <td>@index</td>
                        <td>
                            <span class="d-inline-block text-truncate" style="max-width: 250px;"
                                  title="@Project.Project">@Project.Project</span>
                            </td>
                        <td>@Project.Proponent</td>
                        <td><StatusItem  Name="@Project.Status" Colour="@Project.Color"/></td>
                        <td>@Project.Date.Humanize()</td>
                    </RowTemplate>
                </TableTemplate>
            </div>
        </div>
    </div>
</div>

@if (showProfileModal)
{
    <User Profile="@userProfile" />

    <button id="openProfileModalBtn"
            type="button"
            class="d-none"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
    </button>
}

@code {
    private UserProfileDTO userProfile = new();
    private bool showProfileModal;
    private bool modalShown;
    private List<ProjectbyProponentDTO>? ProjectbyProponents;
    private List<RecentProjectsDTO>? RecentProjects;
    private List<GroupedProjectTypesDTO>? GroupedProjects;
    private List<ProjectStatusDTO>? ProjectStatuses;
    private List<StatusSummaryDTO>? StatusSummaries;

    protected override async Task OnInitializedAsync()
    {
        var userId = Guid.Parse("94f18329-f144-41bd-8f25-22b887f686e7");

        var profile = await UserProfileService.GetUserProfileAsync(userId);

        ProjectbyProponents = await HomeService.GetProjectbyProponent();

        RecentProjects = await HomeService.GetRecentProjects();

        GroupedProjects = await HomeService.GetGroupedProjects()
                      ?? new List<GroupedProjectTypesDTO>();

        ProjectStatuses = await HomeService.GetProjectStatuses()
                      ?? new List<ProjectStatusDTO>();

        StatusSummaries = await HomeService.GetStatusSummary()  ?? new List<StatusSummaryDTO>();

        // var types = Enum.GetValues<ProjectType>();
        // var total = StatusSummaries
        //         .Where(s => s.Type == types[0].ToString())
        //         .Sum(s => s.Totals);

        if (profile == null || profile.ID == Guid.Empty)
        {
            userProfile = new UserProfileDTO();
            showProfileModal = true;
        }
        else
        {
            userProfile = profile;
            showProfileModal = false;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (showProfileModal && !modalShown)
        {
            modalShown = true;

            await JSRuntime.InvokeVoidAsync(
                "eval",
                "document.getElementById('openProfileModalBtn')?.click();"
            );
        }
    }
}