@page "/proponents"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>MEPA | Proponents</PageTitle>

<div class="my-4 row g-0 align-items-center ">
    <div class="col-md-4 my-2">
        <div class="d-flex flex-wrap gap-2">
            <div class="flex-grow-1 flex-md-grow-0 my-2">
                <h3>Proponents</h3>
            </div>
            <div class="flex-grow-1 flex-md-grow-0">
                <div class="my-2 input-group rounded-pill small">
                    <span class="input-group-text" id="basic-addon1">Show</span>
                    <select class="form-control-sm" aria-label="Username" aria-describedby="basic-addon1">
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>40</option>
                        <option>50</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-5">
        <div class="my-2 input-group">
            <span class="input-group-text" id="basic-addon1">Search</span>
            <input type="text" class="form-control" placeholder="Search" aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
    </div>

    <div class="col-md-3 col-12">
        <div class="d-flex flex-wrap gap-2 justify-content-end">
            <div class="dropdown-center small flex-grow-1 flex-md-grow-0">
                <!-- Grows to fill space on mobile -->
                <button class="btn btn-secondary dropdown-toggle w-100 w-md-auto" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Export
                </button>
                <ul class="dropdown-menu dropdown-menu-sm">
                    <li><a class="dropdown-item" href="#">PDF</a></li>
                    <li><a class="dropdown-item" href="#">Excel</a></li>
                </ul>
            </div>
            <div class="flex-grow-1 flex-md-grow-0">
                <!-- Grows to fill space on mobile -->
                <button type="button" @onclick="OpenCreateModal" class="btn btn-primary w-100 w-md-auto"
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <i class="bi bi-plus-square me-2"></i>Add
                </button>
            </div>
        </div>
    </div>
</div>
@if (!loaded)
{
    <p class="text-center my-5 py-5">Loading proponents...</p>
}

else if (proponents?.Count > 0)
{

    <div class="border rounded bg-body-tertiary">
        <div class="p-2 mt-2">

            <TableTemplate Items="proponents" Context="proponent">

                <TableHeader>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Postal Address</th>
                    <th scope="col">Location</th>
                    <th scope="col">Created On</th>
                    <th scope="col"></th>
                </TableHeader>
                <RowTemplate Context="proponent">
                    @{
                        int index = proponents.IndexOf(proponent) + 1;
                    }
                    <td>@index</td>
                    <td>@proponent.Name</td>
                    <td>@proponent.Address</td>
                    <td>@proponent.Location</td>
                    <td>@proponent.createdOn.ToString("MMM dd, yyyy")</td>
                    <td>
                        <div class="d-flex gap-1 justify-content-center">
                            <NavLink class="btn btn-sm btn-outline-primary" href="@($"/Proponent/View/{proponent.ID}")">
                                <i class="bi bi-eye"></i>
                            </NavLink>
                            <button class="btn btn-sm btn-outline-warning" @onclick="() => EditProponent(proponent)"
                                    title="Edit" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button class="btn btn-sm btn-outline-danger" title="Delete">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </td>
                </RowTemplate>

            </TableTemplate>
        </div>

        <div class="justify-content-center d-flex">

            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item"><a href="#" class="page-link">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                        <a class="page-link" href="#" aria-current="page">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
}
else
{
    <p class="text-center my-5 py-5">No proponents found. Adjust your search criteria or Create a new Proponent.</p>
}


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <EditForm method="post" Model="Proponent" OnValidSubmit="@(isEditMode ? HandleUpdate : HandleSubmission)" FormName="create">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">@* Create Proponent *@ @(isEditMode ? "Edit Proponent" : "Create Proponent")</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <DataAnnotationsValidator />
                    @* <ValidationSummary /> *@
                    <div class="mb-3">
                        <label for="Name" class="form-label">Proponent Name</label>
                        <InputText id="Name" @bind-Value="Proponent.Name" class="form-control"
                                   placeholder="Enter Proponent Name."></InputText>
                        <ValidationMessage For="@(() => Proponent.Name)" class="text-danger" />
                    </div>
                    <div class="mb-3">
                        <label for="Address" class="form-label">Postal Address</label>
                        <InputText id="Address" @bind-Value="Proponent.Address" class="form-control"
                                   placeholder="Enter Proponent Address."></InputText>
                        <ValidationMessage For="@(() => Proponent.Address)" class="text-danger" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Proponent Location</label>
                        <InputText id="Location" @bind-Value="Proponent.Location" class="form-control"
                                   placeholder="Enter Proponent Location." />
                        <ValidationMessage For="@(() => Proponent.Location)" class="text-danger" />
                    </div>

                    @if (!string.IsNullOrEmpty(submitMessage))
                    {
                        <div class="alert @(submitMessage?.Contains("Error") == true ? "alert-danger" : "alert-success") alert-dismissible fade show"
                             role="alert">
                            @submitMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">
                        @(isEditMode ? "Update" : "Create")
                    </button>

                </div>
            </EditForm>

        </div>
    </div>
</div>

@code {
    private List<ProponentsDTO>? proponents;

    [SupplyParameterFromForm]
    private ProponentsDTO? Proponent { get; set; } = new();

    private ElementReference modalElement;

    bool isSubmitting = false;
    string? submitMessage;
    private bool loaded = false;
    private bool isEditMode = false;

    void OpenCreateModal()
    {
        isEditMode = false;
        Proponent = new ProponentsDTO(); // reset form
    }

    void EditProponent(ProponentsDTO prop)
    {
        isEditMode = true;
        Proponent = prop;
    }
    protected override async Task OnInitializedAsync()
    {
        if (!loaded)
        {
            await Task.Delay(500);
            proponents = await ProponentService.GetProponentsAsync();
            loaded = true;
        }
    }

    async Task HandleSubmission()
    {
        isSubmitting = true;
        submitMessage = null;
        try
        {
            Proponent.createdOn = DateTime.Now;
            var response = await ProponentService.CreateProponentAsync(Proponent);
            if (response.IsSuccessStatusCode)
            {
                // Refresh list
                proponents = await ProponentService.GetProponentsAsync();
                // Reset form
                Proponent = new();
                // Close modal
                // await JSRuntime.InvokeVoidAsync("bootstrap.Modal.getInstance", modalElement).AsTask();
                
                await JSRuntime.InvokeVoidAsync("SwalService.success", "Proponent created successfully!");
                await JSRuntime.InvokeVoidAsync("hideModal", "staticBackdrop");

            }
            else
            {
                submitMessage = $"Error {response.StatusCode}: {await response.Content.ReadAsStringAsync()}";
            }
        }
        catch (Exception ex)
        {
            submitMessage = $"Error: {ex.Message}";
        }
        finally
        {
            isSubmitting = false;
            StateHasChanged();
        }
    }
    
    protected async Task HandleUpdate()
    {
        isSubmitting = true;
        submitMessage = null;
        try
        {
            // EditPerson.ProponentID = ;
            // Proponent!.ProponentID = Guid.Parse(PropID);
            Proponent.updatedOn = DateTime.Now;
            var response = await ProponentService.UpdateProponentAsync(Proponent.ID, Proponent);
            if (response.IsSuccessStatusCode)
            {
                // Refresh list
                proponents = await ProponentService.GetProponentsAsync();
                
                // Reset form
                Proponent = new();
                
                // await JSRuntime.InvokeVoidAsync("closeModal", "staticBackdrop");
                // Close modal
                // await JSRuntime.InvokeVoidAsync("bootstrap.Modal.getInstance", modalElement).AsTask();
                isEditMode = false;
                await JSRuntime.InvokeVoidAsync("SwalService.success", "Proponent updated successfully!");
                await JSRuntime.InvokeVoidAsync("hideModal", "staticBackdrop");
                

            }
            else
            {
                submitMessage = $"Error {response.StatusCode}: {await response.Content.ReadAsStringAsync()}";
            }
        }
        catch (Exception ex)
        {
            submitMessage = $"Error: {ex.Message}";
        }
        finally
        {
            isSubmitting = false;
            StateHasChanged();
        }
    }

}

