@page "/Users"
@inherits PermissionGuardedPage

<PageTitle>MEPA | Users</PageTitle>

<div class="mb-2 row g-0 align-items-center ">
    <div class="col-md-4">
        @* <div class="d-flex flex-wrap gap-2"> *@
            <div class="flex-grow-1 flex-md-grow-0">
                <h3>Users</h3>
            </div>
        @* </div> *@
    </div>
    <div class="col-md-2">

        @* <div class="flex-grow-1 flex-md-grow-0"> *@
            <div class="input-group rounded-pill small">
                <span class="input-group-text" id="basic-addon1">Show</span>
                <select class="form-control-sm" aria-label="Username" aria-describedby="basic-addon1">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                </select>
            </div>
        @* </div> *@
    </div>
    <div class="@GetSearchColClass()">
        <div class="px-2 input-group">
            <span class="input-group-text" id="basic-addon1">Search</span>
            <input type="text" class="form-control" placeholder="Search" aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
    </div>
    @if (CanCreate)
    {
        <div class="col-md-2">

            <button type="button" @onclick="OpenCreateModal" class="btn btn-primary w-100 w-md-auto"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="fa-solid fa-plus me-2"></i>Add
            </button>
        </div>
    }
  
</div>

<div class="border rounded bg-body-tertiary">
    <div class="p-2 mt-2">

        <TableTemplate Items="users" Context="user">

            <TableHeader>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Role</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
                <th scope="col">Created On</th>
                @if (HasTableActions)
                {
                <th scope="col"></th>
                }
            </TableHeader>
            <RowTemplate Context="user">
                @{
                    int index = users.IndexOf(user) + 1;
                }
                <td>@index</td>
                <td>@user.FirstName</td>
                <td>@user.Surname</td>
                <td>@* @user.Role *@Admin</td>
                <td>@user.IdentityDTO?.Email</td>
                <td>@* @user.Status *@ Active</td>
                <td>@user.createdOn.ToString("MMM dd, yyyy")</td>
                @if (HasTableActions)
                {
                <td>
                    <div class="d-flex gap-1 justify-content-end">
                        @if (CanDetails)
                            {
                                
                        <NavLink class="btn btn-sm btn-outline-primary" href="@($"/User/Details/{user.UserID}")">
                            <i class="bi bi-eye"></i>
                        </NavLink>
                            }
@if (CanDelete)
                            {
                                
                        <button class="btn btn-sm btn-outline-danger" title="Delete">
                            <i class="bi bi-trash"></i>
                        </button>
                            }
                    </div>
                </td>
                }
            </RowTemplate>

        </TableTemplate>
    </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered">
        <div class="modal-content">
            <EditForm method="post" Model="Identity" OnValidSubmit="HandleSubmission" FormName="create">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Create User</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <DataAnnotationsValidator />
                    <div class="mb-2 row g-2">
                        <div class="col-md-6 col-sm-12">
                            <label for="Username" class="form-label">Username</label>
                            <InputText @bind-Value="Identity.Username" class="form-control" id="Name"
                                       placeholder="Enter User Username."></InputText>
                            <ValidationMessage For="@(() => Identity.Username)" class="text-danger" />
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="Email" class="form-label">Email</label>
                            <InputText @bind-Value="Identity.Email" class="form-control" id="Name"
                                       placeholder="Enter User Email."></InputText>
                            <ValidationMessage For="@(() => Identity.Email)" class="text-danger" />
                        </div>
                    </div>
                    <div class="mb-2 row g-2">

                        <label for="Name" class="form-label">Select Roles</label>
                        <div class="d-flex flex-wrap gap-2">
                            @foreach (var role in roles)
                            {
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="@role.Name"
                                           id="@($"role-{role.Name}")"
                                           @onchange="(e) => ToggleRole(role.Id, (bool)e.Value!)" />
                                    <label class="form-check-label" for="@($"role-{role.Name}")">
                                        @role.Name
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    @* <div class="mb-3">
                        <label for="Name" class="form-label">Username</label>
                        <InputText @bind-Value="Identity.Username" class="form-control" id="Name"
                                   placeholder="Enter User Username."></InputText>
                        <ValidationMessage For="@(() => Identity.Username)" class="text-danger" />
                    </div> *@
                    <div class="mb-3">
                        <label for="Name" class="form-label">Phone</label>
                        <InputText type="number" @bind-Value="Identity.Phone" class="form-control" id="Name"
                                   placeholder="Enter User Phone Number."></InputText>
                        <ValidationMessage For="@(() => Identity.Phone)" class="text-danger" />
                    </div>
                    <div class="mb-2 row g-2">
                        <div class="col-md-6 col-sm-12">
                            <label for="password" class="form-label">Password</label>
                            <InputText type="password" @bind-Value="Identity.Password" class="form-control" id="Name"
                                       placeholder="Enter User Password."></InputText>
                            <ValidationMessage For="@(() => Identity.Password)" class="text-danger" />
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                            <InputText type="password" @bind-Value="Identity.ConfirmPassword" class="form-control" id="Name"
                                       placeholder="Confirm User Password."></InputText>
                            <ValidationMessage For="@(() => Identity.ConfirmPassword)" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private IdentityDTO Identity { get; set; } = new();
    private bool isEditMode = false;
    private List<UserProfileDTO> users = new List<UserProfileDTO>();
    private List<RolesDTO> roles = new();

    void OpenCreateModal()
    {
        isEditMode = false;
        // UserProfile = new UserProfileDTO();
    }

    protected override string PageSlug
    {
        get
        {
            var relativePath = navigationManager.ToBaseRelativePath(navigationManager.Uri);
            var firstSegment = relativePath.Split('/', StringSplitOptions.RemoveEmptyEntries).FirstOrDefault();
            return (firstSegment ?? string.Empty).ToLowerInvariant();
        }
    }

    string GetSearchColClass()
    {
        return (CanCreate) switch
        {
            (true) => "col-md-4",   // 8 + 2 + 2     = 12
            (false) => "col-md-6"
        };
    }

    protected override async Task OnPageInitializedAsync()
    {
        try
        {
            var userProfiles = await UserProfileService.GetUserProfilesAsync();
            users = userProfiles;

            var allRoles = await RoleService.GetRolesAsync();
            roles = allRoles;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("Spinner.show");
            await Task.Delay(200);
            await JSRuntime.InvokeVoidAsync("Spinner.hide");
        }
    }

    async Task HandleSubmission()
    {
        await UserProfileService.CreateUserAsync(Identity); 
     
        // Refresh the user list after submission
        var userProfiles = await UserProfileService.GetUserProfilesAsync();
        users = userProfiles;
    }

    private void ToggleRole(string roleId, bool isChecked)
    {
        // Guard: Identity or its Roles list is null
        // Identity ??= new UserDTO();
        Identity.Roles ??= new List<string>();

        if (isChecked)
        {
            if (!Identity.Roles.Contains(roleId))
                Identity.Roles.Add(roleId);
        }
        else
        {
            Identity.Roles.Remove(roleId);
        }
    }
}
