@page "/Proponent/View/{PropID}"
@* @rendermode InteractiveWebAssembly *@
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@inject IJSRuntime JSRuntime

<PageTitle>MEPA | Proponent Details</PageTitle>

@if (Proponent != null)
{
    <div class="container">
        <div class="my-2 row">
            <div class="col-md-5">
                <h3>Proponent Details</h3>
            </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-pane" type="button" role="tab" aria-controls="details-tab-pane" aria-selected="true">Details</button>
            </li>
            @if (Proponent.Projects.Any())
            {
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="projects-tab" data-bs-toggle="tab" data-bs-target="#projects-tab-pane" type="button" role="tab" aria-controls="projects-tab-pane" aria-selected="false">Projects</button>
                </li>
            }
            
            @* <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
        </li> *@
        </ul>
        <div class="tab-content bg-white border-start border-end border-bottom mt--1" id="myTabContent">
            <div class="tab-pane fade show active " id="details-tab-pane" role="tabpanel" aria-labelledby="details-tab" tabindex="0">
                <div class="mb-2 row px-2">
                    <div class="px-2">
                        <div class="my-2 row">
                            <div class="col-md-12">
                                <h5>Proponent Details</h5>
                            </div>
                            <div class="col-md-4 my-2">
                                <div class="d-flex gap-4">
                                    <i class="bi bi-building-fill fs-5 me-2"></i>
                                    <div>
                                        <small class="mb-1 fs-6">Proponent Name</small>
                                        <h6>@Proponent.Name</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 my-2 border-start border-end">
                                <div class="d-flex gap-4">
                                    @* <i class="bi bi-building-fill"></i> *@
                                    @* <i class="bi bi-geo-alt-fill fs-5 me-2"></i> *@
                                    <i class="bi bi-mailbox2-flag fs-5 me-2"></i>
                                    <div>
                                        <small class="mb-1 fs-6">Proponent Address</small>
                                        <h6>@Proponent.Address</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 my-2">
                                <div class="d-flex gap-4">
                                    @* <i class="bi bi-building-fill"></i> *@
                                    <i class="bi bi-geo-alt-fill fs-5 me-2"></i>
                                    <div>
                                        <small class="mb-1  fs-6">Proponent Location</small>
                                        <h6>@Proponent.Location</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-top px-2">
                    <div class="my-2 row">

         @if (contactPeople != null && contactPeople.Count > 0)
        { 
                                    <div class='col-md-4'>
                <h3>Contact Details</h3>
            </div>
                        }
                        else
                        {
                            <div class='col-md-10'>
                                <h3>Contact Details</h3>
                            </div>
                        }

                        @if (contactPeople != null && contactPeople.Count > 0)
                        {
                            <div class="col-md-4">
                                <div class="mb-3 input-group">
                                    <span class="input-group-text" id="basic-addon1">Search</span>
                                    <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-2 text-end">
                                <div class="dropdown-center">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Export
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">PDF</a></li>
                                        <li><a class="dropdown-item" href="#">Excel</a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                        <div class="col-md-2 text-end">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-plus-square"></i>Add</button>
                        </div>
                    </div>
                    @if (contactPeople.Any())
                    {
                        <TableTemplate Items="contactPeople" Context="contact">
                            <TableHeader>
                                <th scope="col">#</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Created On</th>
                                        <th scope="col"></th>
                            </TableHeader>
                            <RowTemplate Context="contact">
                                @{
                                    int index = contactPeople.IndexOf(contact) + 1;
                                }
                                <td>@index</td>
                                <td>@contact.FullName</td>
                                <td>@contact.Email</td>
                                <td>@contact.Phone</td>
                                <td>@contact.createdOn.ToString("MMM dd, yyyy")</td>
                                <td>
            <div class="d-flex gap-1 justify-content-center">
                                        <button class="btn btn-sm btn-outline-warning" type="button" title="Edit" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                @onclick="() => editPerson(contact)"
                                                @onclick:stopPropagation="true">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                        
                                    <button class="btn btn-sm btn-outline-danger" title="Delete">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                    </div>
                                </td>
                                    </RowTemplate>
                        </TableTemplate>

                        }
                    else
                    {
                        <span class="text-muted text-center justify-content-center align-content-center mx-auto">No contact people found for this proponent.</span>
                    }
  
                </div>
            </div>
            <div class="tab-pane fade" id="projects-tab-pane" role="tabpanel" aria-labelledby="projects-tab" tabindex="0">
                <div class="mb-2 row px-2 pt-2">
                    <div class="col-md-3">
                        <h5>Proponent Projects</h5>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3 input-group rounded-pill">
                            <span class="input-group-text" id="basic-addon1">Show</span>
                            <select class="form-control-sm" aria-label="Username" aria-describedby="basic-addon1">
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="mb-3 input-group">
                            <span class="input-group-text" id="basic-addon1">Search</span>
                            <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown-center text-end">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Export
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">PDF</a></li>
                                <li><a class="dropdown-item" href="#">Excel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="border rounded bg-body-tertiary mb-2 mx-2 px-2">
                    <TableTemplate Items="Projects" Context="Project">
    <TableHeader>
        <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Location</th>
                                <th scope="col">Status</th>
                                <th scope="col">Created On</th>
                                <th scope="col"></th>
                            
    </TableHeader>
    <RowTemplate Context="project">
                            @{
                                int index = Projects.IndexOf(project) + 1;
                            }
                            <th scope="row">@index</th>
                            <td>
                                 <span class="d-inline-block text-truncate" style="max-width: 350px;" title="@project.Name">
                                @project.Name </span>
                            </td>
                            <td class="py-2">@project?.Location</td>
                            <td class="py-2">@{
                                    var status = project?.Trackings?.LastOrDefault()?.Status?.Name ?? "No status";    
                                }
                                @status</td>
                            <td class="py-2">@project?.createdOn.ToString("MMM-dd, yyyy")</td>
                            <td class="py-2">
                                <div class="flex-row d-flex justify-content-center">
                                    
                                        <NavLink class="rounded btn btn-sm btn-outline-warning" href="@{$"Project/View/{project.Id}"}">
                                            <i class="bi bi-eye-fill"></i>
                                        </NavLink>
                                  
                                </div>
                            </td>
    </RowTemplate>
                    </TableTemplate>
                    <div class="justify-content-center d-flex">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item"><a href="#" class="page-link">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="#" aria-current="page">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
        <div class="p-2 bg-white rounded-bottom border-start border-end border-bottom">
        <button type="button" class="btn btn-sm btn-outline-primary" @onclick="() => GoBack()">Back</button>
 

            @* <NavLink type="button" class="btn btn-secondary btn-sm" href="Proponent/view">Proponent</NavLink> *@
 
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <EditForm Model="CreatePerson" OnValidSubmit="@(isEditMode ? HandleUpdate : HandleCreate)" FormName="create" Enhance>
                    <DataAnnotationsValidator />
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">@(isEditMode ? "Edit" : "Create") Contact Person</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                    <input type="hidden" value="@CreatePerson.Id" />
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                            <InputText @bind-Value="CreatePerson.FullName" id="FullName" class="form-control" placeholder="Enter Full Name." ></InputText>
                            <ValidationMessage For="@(() => CreatePerson.FullName)" class="text-danger blazor-error-boundary blazor-error-ui" />
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                                <InputText class="form-control" @bind-Value="CreatePerson.Email" id="Email" placeholder="Enter Contact Person Email." ></InputText>
                            <ValidationMessage For="@(() => CreatePerson.Email)" class="text-danger blazor-error-boundary blazor-error-ui" />
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Phone</label>
                            <InputText class="form-control" @bind-Value="CreatePerson.Phone" id="Phone" placeholder="Enter Contact Person Phone." ></InputText>
                            <ValidationMessage For="@(() => CreatePerson.Phone)" class="text-danger blazor-error-boundary" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">@(isEditMode ? "Update" : "Create")</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid justify-content-center align-content-center">

    </div>
}

@code {
    private ProponentsDTO? Proponent;

    [SupplyParameterFromForm]
    private ContactPersonDTO? CreatePerson { get; set; } = new();

    public List<ProjectDTO>? Projects { get; set; }

    [Parameter]
    public string? PropID { get; set; }

    public string? submitMessage { get; set; }

    public bool isSubmitting { get; set; }
    public bool isEditMode = false;

    private List<ContactPersonDTO>? contactPeople; 

    protected override async Task OnInitializedAsync()
    {
        // var proponentID = Guid.
        // if (!string.IsNullOrEmpty(PropID))
        // {
        // CreatePerson = new();
        Proponent = await ProponentService.GetProponentAsync(
        Guid.Parse(PropID));
        if (Proponent != null)
        {
            contactPeople = Proponent?.Contacts?.ToList();
            Projects = Proponent?.Projects?.ToList();
        }
        // contactPeople = await ContactPersonService.GetContactPersonsAsync(Guid.Parse(PropID));
        // }
    }

    protected async Task HandleCreate()
    {
        isSubmitting = true;
        submitMessage = null;
        try
        {
            CreatePerson!.ProponentID = Guid.Parse(PropID);
            CreatePerson.createdOn = DateTime.Now;
            var response = await ContactPersonService.CreateContactPersonAsync(CreatePerson);
            if (response.IsSuccessStatusCode)
            {
                // Reset form
                Proponent = new();
                // Close modal
                // await JSRuntime.InvokeVoidAsync("bootstrap.Modal.getInstance", modalElement).AsTask();
                // submitMessage = "Proponent created successfully!";
                await JSRuntime.InvokeVoidAsync("hideModal", "staticBackdrop");
                
                await JSRuntime.InvokeVoidAsync("SwalService.success", "Added a Contact Person for Proponent.");
            }
            else
            {
                submitMessage = $"Error {response.StatusCode}: {await response.Content.ReadAsStringAsync()}";
            }
        }
        catch (Exception ex)
        {
            submitMessage = $"Error: {ex.Message}";
        }
        finally
        {
            // Refresh list
            contactPeople = await ContactPersonService.GetContactPersonsAsync(Guid.Parse(PropID));
            isSubmitting = false;
            StateHasChanged();
        }
    }

    protected async Task HandleUpdate()
    {
        isSubmitting = true;
        submitMessage = null;
        try
        {
            // EditPerson.ProponentID = ;
            CreatePerson!.ProponentID = Guid.Parse(PropID);
            CreatePerson.onUpdate = DateTime.Now;
            var response = await ContactPersonService.UpdateContactPersonAsync(CreatePerson.Id, CreatePerson);
            if (response.IsSuccessStatusCode)
            {
                // Refresh list
                contactPeople = await ContactPersonService.GetContactPersonsAsync(Guid.Parse(PropID));
                
                // Reset form
                Proponent = new();
                
                // await JSRuntime.InvokeVoidAsync("closeModal", "staticBackdrop");
                // Close modal
                // await JSRuntime.InvokeVoidAsync("bootstrap.Modal.getInstance", modalElement).AsTask();
                isEditMode = false;
                await JSRuntime.InvokeVoidAsync("hideModal", "staticBackdrop");
                
                await JSRuntime.InvokeVoidAsync("SwalService.success", "Updated a Contact Person for Proponent.");
            }
            else
            {
                submitMessage = $"Error {response.StatusCode}: {await response.Content.ReadAsStringAsync()}";
            }
        }
        catch (Exception ex)
        {
            submitMessage = $"Error: {ex.Message}";
        }
        finally
        {
            // Refresh list
            contactPeople = await ContactPersonService.GetContactPersonsAsync(Guid.Parse(PropID));
            isSubmitting = false;
            StateHasChanged();
        }
    }

    void editPerson(ContactPersonDTO contact)
    {
        CreatePerson = new ContactPersonDTO()
        {
            Id = contact.Id,
            FullName = contact.FullName,
            Email = contact.Email,
            Phone = contact.Phone,
            ProponentID = contact.ProponentID,
        };
        isEditMode = true;
    }

    private async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("Navigation.back");
    }

}
